<%- include('../partials/header') %>

<table id="palaceList">
    <thead>
      <tr>
        <th>Palace</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <td>LVP</td>
      <td>Baroda</td>
    </table>

<%- include('../partials/footer') %>