<%- include('../partials/header') %>

<form id="add-new-palace" action="/palaces" method="POST">
    <label>Name: </label>
    <input type="text" name="palaceName">
    <label>Location: </label>
    
    <input type="text" name="location">
    <label>Google Maps Link: </label>
    <input type="text" name="googleMapLink">

    <label>Construction Start Date: </label>
    <input type="date" name="constructionStart">

    <label>Construction End Date: </label>
    <input type="date" name="constructionEnd">

    <label>Built By: </label>
    <input type="text" name="builtBy">

    <label>Current Owner: </label>
    <input type="text" name="currentOwner">

    <!-- <label>Add Links Of Photos: </label>
    <input type="text" name="photo"> -->

    <label>Open to Public: </label>
    <!-- <input type="checkbox" name="openToPublic"> -->

    <select name="openToPublic">
        <option value="Yes">Yes</option>
        <option value="Some Parts">Some Parts</option>
        <option value="No">No</option>
      </select>

    <input id="addPalace" type="submit" value="Add Palace/Fort">
</form>

<%- include('../partials/footer') %>