<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <img src="images/amer-fort.png">
      <a href="#">Palace/Fort List</a>
      <a href="#">Add Palace/Fort</a>
      <a href="#">Logout</a>
    </nav>