* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #E8ECEB;
  /* display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header"
    "main" */
}

#navTagImage {
  width: 40px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}
body > main h1:first-child {
  margin-bottom: 50px;
}

#palaceList td:nth-child(2), #palaceList td:nth-child(3){
  min-width: 100px;
}

#palaceList a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#palaceList a:hover {
  background-color: white;
}

#add-new-palace,
#update-palace,
/* #updatePalaceBtnForm, */
/* #deletePalaceBtnForm, */
.review-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#add-new-palace *,
#update-palace *,
#updatePalaceBtnForm *,
#deletePalaceBtnForm *,
.review-form *{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.review-form{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.review-form input[type="submit"]{
  width: 10rem;
  grid-column: 2 / 3;
}

#add-new-palace input[type="submit"],
#update-palace input[type="submit"],
.review-form input[type="submit"],
#updatePalaceBtnForm input[type="submit"],
#deletePalaceBtnForm  input[type="submit"] {
  grid-column: span 2;
  width: auto;
  margin-left: auto;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

/* table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
} */

/* #reviewsTable tr th, #reviewsTable tr td{
  width: 95px;
}  */

.editReviewWarning{
  font-size: 12px;
  font-weight: 600;
}

#allPalacesTable, #reviewsTable {
  width: 800px;
  font-size: 20px;
}
#allPalacesTable{
  max-height: 500px;
  overflow: auto;
}
#reviewsTable{
  max-height: 250px;
  overflow: auto;
}

#allPalacesTH th, #reviewsTableTH th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

#allPalacesTH{
  display: table;
  width: calc(100% - 17px); 
}

#allPalacesTB {
  display: block;
  max-height: 400px;
  overflow-y: auto; 
}

#allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
  width:12.5%
}
#allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
  width: 37.5%;
}

#reviewsTableTB{
  border: 1px solid black;
}

#reviewsTableTH th:first-child, #reviewsTableTB td:first-child{
  width:18%;
}

#reviewsTableTH th:nth-child(2), #reviewsTableTB td:nth-child(2){
  width:14%
}

#reviewsTableTH th:nth-child(3), #reviewsTableTB td:nth-child(3){
  width:30%
}

#reviewsTableTH th:nth-child(4), #reviewsTableTB td:nth-child(4){
  width:14%
}

#reviewsTableTH th:nth-child(5), #reviewsTableTB td:nth-child(5){
  width:15%
}

#reviewsTableTH th:nth-child(6), #reviewsTableTB td:nth-child(6){
  width:9%
}

th, td {
  padding: 5px;
  text-align: center;
  word-break: break-all; 
}

tr {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

td {
  /* text-align: center; */
  border-bottom: none;
  border-left: none;
}

.loginImg{
  height:20px;
}

.link > a {
  color: blue;
}

/* #show-page > table > tbody > tr:not(:last-child):not(#editPalaceRow) > td,
#show-page > table > tbody > tr:not(:last-child):not(#deletePalaceRow) > td{
  text-align: left;
} */

#show-page > table > tbody > tr > td {
  text-align: left;
}

#palaceDetailsTB > tr:not(:last-child) > td:first-child {
  font-weight: bold;
}

#palaceDetailsTable, #palaceDetailsTB{
  width:600px;
}

#palaceDetailsTB tr td:first-child{
  width:40%
}
#palaceDetailsTB tr td:last-child{
  width:60%
}

#palaceDetailsTB tr:nth-child(10) td:first-child, #palaceDetailsTB tr:nth-child(11) td:first-child{
  justify-content: start;
  display: flex;
}

.imageSlider{
  width:700px;
  height:350px;
  border:1px solid black;
  padding: 5px;
  margin-bottom:25px
}

.slider{
  overflow:auto;
  height:340px;
  white-space:nowrap;
}

.palaceImage {
  height: 250px;
  width:400px;
}

.slider > div {
  display: inline-block;
  padding:10px;
}

.slider > .deleteImage {
  height: 30px;
  position: relative;
  top: -210px;
  right: -394px;
  align-items: center;
}

#noPictures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  list-style: none;
}

#hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: var(--border);
  height:50px;
  background-color: #B8C0C2 !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.menu {
  position: relative;
  background: var(--white);
  height: 50px;
  padding: 0;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar{
  padding: 0px !important;
  height:40px !important;
  margin: 5px !important;
  justify-content: center;
}

#login-div, .nav-link{
  height:40px;
}

.nav-link > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.menu-bar li{
  display: block;margin-left:10px;
  margin-right: 10px;
}

.nav-end{height:50px}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}
.nav-start{
  width: 100vw;
  justify-content: space-between;
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width:1023.9px) {
  #hamburger {
    display: block;
    color: #424748;
    width:30px;
    height:30px
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #B8C0C2 !important;
    left: 0;
    width: 100vw;
  }


  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show {
    display: block;
    border-top: 1px solid black;

    height: fit-content;
  }

  .menu-bar {
    height: 160px !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }

  input[type="submit"], button{
    background-color: #000;
    color:#fff;
  }
}

@media  (max-width: 324.9px) {
  .imageSlider{
    width: 290px;
    height: 340px;
  }
  .palaceImage{
    width: 200px;
  }
  .slider{
   width: 280px;
   height:330px;
  }
  .slider div{
    height:280px
  }
  .slider > div > img{
    width:260px
  }

  #noPictures{
   font-size: 16px;
  }

  #palaceDetailsTable, #palaceDetailsTB{
    width:290px
  }

  #palaceDetailsTB tr td:first-child{
    width:40%
  }
  #palaceDetailsTB tr td:last-child{
    width:60%
  }

  #allPalacesTable {
    width: 300px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:12.5%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 37.5%;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }
  #reviewsTableDiv {
    width:300px;
    overflow:auto;
  }

  #reviewsTable{
    width: 550px;
  }
}

@media  (min-width: 325px) and (max-width: 374.9px){
  .imageSlider{
    width: 310px;
    height: 340px;
  }
  .palaceImage{
    width: 270px;
  }
  .slider{
   width: 290px;
   height:330px;
  }
  .slider div{
    height:290px
  }

  #palaceDetailsTable, #palaceDetailsTB{
    width:300px;
  }

  #palaceDetailsTB tr td:first-child{
    width:40%
  }
  #palaceDetailsTB tr td:last-child{
    width:60%
  }

  #allPalacesTable {
    width: 335px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:12.5%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 37.5%;
  }
  
  #allPalacesTable th, #allPalacesTable td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }

  #reviewsTableDiv {
    width:300px;
    height:400px;
    overflow:auto;
  }

  #reviewsTable{
    width: 550px;
  }
}

@media  (min-width: 375px) and (max-width: 399.9px){
  .imageSlider{
    width: 340px;
    height: 360px;
  }
  .palaceImage{
    width: 290px;
  }
  .slider{
   width: 320px;
   height:340px;
  }
  .slider div{
    height:310px
  }

  #palaceDetailsTable, #palaceDetailsTB{
    width:330px;
  }

  #palaceDetailsTB tr td:first-child{
    width:40%
  }
  #palaceDetailsTB tr td:last-child{
    width:60%
  }

  #allPalacesTable {
    width: 345px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:12.5%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 37.5%;
  }
  
  #allPalacesTable th, #allPalacesTable td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }

  #reviewsTableDiv {
    width:350px;
    height:400px;
    overflow:auto;
  }

  #reviewsTable{
    width: 550px;
  }
}

@media  (min-width: 400px) and (max-width: 424.9px){
  .imageSlider{
    width: 390px;
    height: 350px;
  }
  .palaceImage{
    width: 400px;
    height: 260px;
  }
  .slider{
   width: 350px;
   height:340px;
  }
  .slider div{
    height:330px
  }

  #palaceDetailsTable, #palaceDetailsTB{
    width:380px;
  }

  #palaceDetailsTB tr td:first-child{
    width:40%
  }
  #palaceDetailsTB tr td:last-child{
    width:60%
  }
  #allPalacesTable {
    width: 385px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:12.5%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 37.5%;
  }
  
  #allPalacesTable th, #allPalacesTable td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }

  #reviewsTableDiv {
    width:370px;
    height:400px;
    overflow:auto;
  }

  #reviewsTable{
    width: 550px;
  }
}

@media  (min-width: 425px) and (max-width: 599.9px){
  .imageSlider{
    width: 390px;
    height: 350px;
  }
  .palaceImage{
    width: 400px;
    height: 260px;
  }
  .slider{
   width: 350px;
   height:340px;
  }
  .slider div{
    height:330px
  }

  #palaceDetailsTable, #palaceDetailsTB{
    width:400px;
  }

  #palaceDetailsTB tr td:first-child{
    width:40%
  }
  #palaceDetailsTB tr td:last-child{
    width:60%
  }
  
  #allPalacesTable {
    width: 400px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:15%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 35%;
  }
  
  #allPalacesTable th, #allPalacesTable td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }
}

@media  (min-width: 600px) and (max-width: 767.9px){
  .imageSlider{
    width: 560px;
    height: 360px;
  }
  .palaceImage{
    width: 400px;
    height: 260px;
  }
  .slider{
   width: 540px;
   height:340px;
  }
  .slider div{
    height:330px
  }

  #palaceDetailsTable, #palaceDetailsTB{
    width:580px;
  }

  #palaceDetailsTB tr td:first-child{
    width:40%
  }
  #palaceDetailsTB tr td:last-child{
    width:60%
  }

  #allPalacesTable {
    width: 550px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:15%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 35%;
  }
  
  #allPalacesTable th, #allPalacesTable td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }

  #reviewsTableDiv {
    width:580px;
    /* height:400px; */
    overflow:auto;
  }

  #reviewsTable{
    width: 550px;
  }
}

@media  (min-width: 768px) and (max-width: 990.9px){
  .imageSlider{
    width: 640px;
    height: 360px;
  }
  .palaceImage{
    width: 400px;
    height: 260px;
  }
  .slider{
   width: 620px;
   height:340px;
  }
  .slider div{
    height:330px
  }

  #allPalacesTable {
    width: 720px;
    font-size: 13px;
  }
  
  #allPalacesTH th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  #allPalacesTH {
    display: table;
    width: calc(100% - 2px); 
  }
  
  #allPalacesTB {
    display: block;
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  #allPalacesTable th:first-child, #allPalacesTable th:last-child, #allPalacesTable td:first-child, #allPalacesTable td:last-child{
    width:15%
  }
  #allPalacesTable th:nth-child(2), #allPalacesTable th:nth-child(3), #allPalacesTable td:nth-child(2), #allPalacesTable td:nth-child(3){
    width: 35%;
  }
  
  #allPalacesTable th, #allPalacesTable td {
    padding: 5px;
    text-align: center;
    word-break: break-all; 
  }
  
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
  
  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }
}