* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #E8ECEB;
  /* display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header"
    "main" */
}

#navTagImage {
  width: 40px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  display: flex;
  height:80vh;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}
body > main h1:first-child {
  margin-bottom: 50px;
}

#palaceList td:nth-child(2), #palaceList td:nth-child(3){
  min-width: 100px;
}

#palaceList a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#palaceList a:hover {
  background-color: white;
}

#add-new-palace,
#update-palace,
#updatePalaceBtnForm,
#deletePalaceBtnForm,
.review-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#add-new-palace *,
#update-palace *,
#updatePalaceBtnForm *,
#deletePalaceBtnForm *,
.review-form *{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.review-form{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.review-form input[type="submit"]{
  width: 10rem;
  grid-column: 2 / 3;
}

#add-new-palace input[type="submit"],
#update-palace input[type="submit"],
.review-form input[type="submit"],
#updatePalaceBtnForm input[type="submit"],
#deletePalaceBtnForm  input[type="submit"] {
  grid-column: span 2;
  width: auto;
  margin-left: auto;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

.loginImg{
  height:20px;
}

.link > a {
  color: blue;
}

#show-page > table > tbody > tr:not(:last-child):not(#editPalaceRow) > td,
#show-page > table > tbody > tr:not(:last-child):not(#deletePalaceRow) > td{
  text-align: left;
}

#show-page > table > tbody> tr:not(:last-child) > td:first-child {
  font-weight: bold;
}

.imageSlider{
  width:700px;
  height:400px;
  border:1px solid black;
  padding: 5px;
  margin-bottom:25px
}
.slider{
  overflow:auto;
  height:350px;
  white-space:nowrap;
}

.palaceImage {
  height: 250px;
  width:400px;
}

.slider > div {
  display: inline-block;
  padding:10px;
}

.slider > .deleteImage {
  height: 30px;
  position: relative;
  top: -210px;
  right: -394px;
  align-items: center;
}

#noPictures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  list-style: none;
}

#hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: var(--border);
  height:50px;
  background-color: #B8C0C2 !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.nav-end{height:50px}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}
.nav-start{
  width: 100vw;
  justify-content: space-between;
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width:1023.9px) {
  #hamburger {
    display: block;
    color: #424748;
    width:30px;
    height:30px
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #B8C0C2 !important;
    left: 0;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show {
    display: block;
    border-top: 1px solid black;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media  (max-width: 325px) {
  .imageSlider{
     width: 250px;
     height:280px
  } 
  .slider{
   width: 230px;
   height:280px;
  }
  #noPictures{
   font-size: 16px;
  }
 }